/* DOM display */
.no-display {
    display: none;
}
.clickable {
    cursor: pointer;
}

li.placeholder { background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}

/* font design */

.page-title {
    margin-top: 20px;
    font-size: 2rem;
}

/* margins */

.mt {
    margin-top: 35px;
}

/*********************/

.trip-card {
    
}